{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "horizon-issuer.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "horizon-issuer.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{.Values.serviceAccount.name}}-{{ include "horizon-issuer.fullname" . }}
  labels:
    {{- include "horizon-issuer.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "horizon-issuer.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "horizon-issuer.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}